<section>
        <div class="row bg-theme  my-4 py-3">
            <div class="col text-center mx-auto">
                <h1 class="display-3">{{title}}</h1>
                <p class="lead text-white col-md-10 text-justify mx-auto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt facere, cumque voluptatum numquam beatae necessitatibus fugit est expedita alias quisquam. Tempore accusantium reprehenderit atque, unde porro qui. Perspiciatis, non. Aspernatur, quibusdam provident explicabo cum nam quaerat, numquam labore iure optio praesentium illo odio. Iste temporibus aspernatur, tempore sunt praesentium itaque laudantium repudiandae laboriosam dolore ullam obcaecati ratione eos enim mollitia.
                </p>
                <a routerLink="/{{link}}">
                    <button class="btn btn-warning">{{title}}</button>
                </a>
            </div>
        </div>
    </section>