<section class="my-4 py-4 bg-theme">
    <h2 class="display-3 text-center mx-auto">{{heading}}</h2>
    <div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <p class="lead text-justify text-white mx-auto py-5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam sed beatae inventore aliquid, totam eaque. Corrupti incidunt commodi vitae expedita dolorem qui eligendi debitis. Quasi unde, vero fuga nulla a in quaerat eius minus dolorum dolor inventore animi doloremque! Aliquam, veniam libero possimus ipsum pariatur quidem sequi porro cupiditate quae commodi cum consectetur cumque quibusdam a aspernatur officiis iusto tenetur nihil, suscipit nostrum, praesentium modi quos esse voluptatum? Quis, molestias incidunt voluptatum repellendus vitae voluptate minima nostrum laudantium, totam at praesentium, earum maxime eveniet iure eos esse voluptates repellat illo nihil? Dolore iure nisi amet soluta voluptatem ipsam quam minus.
            </p>
        </div>
        <div class="col-4">
            <div class="card">
                <img src={{img}} class="card-img-top" alt="..." />
                <div class="card-body bg-dark text-white text-justify">
                    <h5 class="card-title text-center text-warning text-capitalize">Just Clicked Photos</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam sed beatae inventore aliquid, totam eaque. Corrupti incidunt commodi vitae expedita dolorem qui eligendi debitis.!</p>
                    <a routerLink='/{{url}}' class="btn btn-warning btn-block">
                        {{heading}}
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>            
</section>