
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark nav-color">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink='/'>
        <img src="../../assets/logo.svg" alt="Logo goes here.." width="40">
    </a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink='/'>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink='/about'>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink='/contact'>Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink='/products'>Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light lead" mdbWavesEffect routerLink='/cart'>
                    <i class="fas fa-cart-arrow-down"></i>
                </a>
            </li>

        </ul>
        <!-- Links -->


    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->